@font-face {
  font-family: spidermanFont;
  src: url(./assets/fonts/The\ Amazing\ Spider-Man.ttf);
}
@font-face {
  font-family: myLogoFont;
  src: url(./assets/fonts/PokemonHollow.ttf);
}

.logo {
  font-family: myLogoFont;
  color: white;
  font-size: 25px;
}

.homeContainer {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./assets/images/backgroundImages/pirate-ship-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10%;
}
.homeContent {
  color: white;
  flex: 0.4;
}
.homeContent h1 {
  font-family: spidermanFont;
  font-size: 70px;
}
.homeContent p {
  margin-top: -40px;
}

.authContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 40px;
  padding: 0px 10px;
}
.authForm {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profileStories {
  padding: 30px 20px;
}
.profileStories > div {
  display: flex;
  gap: 10px;
}
.storiesCon {
  display: flex;
}

.unauth {
  text-align: center;
  font-size: 30px;
  margin: 10%;
}

.profileImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

.gamePlayCon {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./assets/images/backgroundImages/Flotsam/Flotsam_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10%;
  color: white;
}
.gameSpace {
  width: 60%;
  animation: slideInRight 500ms ease-in;
}
.textContainer {
  text-align: justify;
}

footer {
  padding: 10px 10%;
  color: white;
  background-color: #003559;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer img {
  width: 40px;
}

@keyframes slideInRight {
  0% {
    transform: translate(-50px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* .slide-in {
  animation: slideInRight 500ms ease-in;
}

.slide-in-reverse {
  animation: slideInRight 500ms ease-in;
  animation-direction: reverse;
} */

@media screen and (max-width: 750px) {
  .homeContent {
    flex: 1;
  }
  .authContainer {
    flex-direction: column;
  }
  .authForm {
    width: 90%;
  }
  .storiesCon {
    flex-direction: column;
  }
  .gameSpace {
    width: 100%;
    margin-top: 30px;
  }
}
